

.container {
    width: 100%;
    padding-right: $container-px;
    padding-left: $container-px;
    margin-right: auto;
    margin-left: auto;

    @each $breakpoint, $container-max-width in $container-max-widths {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            max-width: $container-max-width;
        }
    }
}
